<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Middle_day</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>

<body>
    <div class="container py-4 py-xl-5">
        <div class="row">
            <div class="col">
                <h1 id="date">June 3, 2022</h1>
            </div>
            <div class="col">
                <h1>
                    {% if increase < 0 %}
                        <span style="color: red">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="transform: rotate(180deg)">
                                <path d="M17.6569 11.2929L16.2427 12.7071L12 8.46444L7.75735 12.7071L6.34314 11.2929L12 5.63605L17.6569 11.2929Z" fill="currentColor"></path>
                                <path d="M17.6569 16.9497L16.2427 18.3639L12 14.1213L7.75735 18.364L6.34314 16.9498L12 11.2929L17.6569 16.9497Z" fill="currentColor"></path>
                            </svg>
                            {{ increase | round(2) }}%
                        </span>
                    {% else %}
                        <span style="color: greenyellow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                                <path d="M17.6569 11.2929L16.2427 12.7071L12 8.46444L7.75735 12.7071L6.34314 11.2929L12 5.63605L17.6569 11.2929Z" fill="currentColor"></path>
                                <path d="M17.6569 16.9497L16.2427 18.3639L12 14.1213L7.75735 18.364L6.34314 16.9498L12 11.2929L17.6569 16.9497Z" fill="currentColor"></path>
                            </svg>
                            {{ increase | round(2) }}%
                        </span>
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="text-center text-white-50 bg-primary border rounded border-0 p-3">
            <div class="row">
                <div class="col">
                    <h1><span style="color: rgba(252, 251, 251, 0.5);">{{ total_asset | round(2) }}</span></h1>
                    <p>Total Asset</p>
                </div>
                <div class="col">
                    <h1><span style="color: rgba(252, 251, 251, 0.5);">{{ cash | round(2) }}</span></h1>
                    <p>Cash</p>
                </div>
                <div class="col">
                    <h1><span style="color: rgba(252, 251, 251, 0.5);">{{ total_stock_value | round(2) }}</span></h1>
                    <p>Stock Value</p>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Stock Name</th>
                        <th><br>Value/quantity</th>
                        <th><br><strong>Price/Cost</strong></th>
                        <th><br><strong>Profit/Loss</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% if stock_name and stock_code and stock_value and stock_quantity %}
                        {% for name, code, value, quantity, price, cost, profit_n, profit_p in 
                            zip(stock_name, stock_code, stock_value, stock_quantity, stock_price,
                            average_initial_cost, profit_num, profit_per) %}
                        <tr style="{% if profit_p > 0 %}background-color: rgba(0, 255, 0, 0.1){% elif profit_p < 0 %}background-color: rgba(255, 0, 0, 0.1){% endif %}">
                            <td>{{ name or 'N/A' }}<p>{{ code or 'N/A' }}</p></td>
                            <td>{{ value | round(2) }}<p>{{ quantity or 0 }}</p></td>
                            <td>{{ price | round(2) }}<p>{{ cost | round(2) }}</p></td>
                            <td>
                                <span style="{% if profit_p > 0 %}color: green{% elif profit_p < 0 %}color: red{% endif %}">
                                    {{ profit_n | round(2) }}
                                    <p>{{ (profit_p * 100) | round(2) }}%</p>
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="4">No stocks available</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <form action="/search" method="POST">
                <div class="col-xl-10"><input type="text" name="symbol" style="margin-top: 3px;/*align-items: center;*/float: right;"></div>
                <div class="col"><input type="hidden" name="date" value="2022-06-03"></div>
                <div class="col"><button class="btn btn-primary d-xl-flex" type="submit" style="margin-top: 3px;">Search</button></div>
            </form>
        </div>
        <button class="btn btn-primary" type="button" style="margin-top: 17px;"><a style="color: white; text-decoration: none;" href="last_day">Next</a></button>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
            var dateElement = document.getElementById("date");
            if (dateElement) {
                var current_value = dateElement.innerText;
                document.getElementsByName("extra_data")[0].value = current_value;
            }
        });
    </script> -->
</body>

</html>